@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #131224;
    color: #111026;

    font-size: 16px;
    font-family: "Poppins", sans-serif;
    
    height: 100vh;
    width: 100vw;

    overflow-x: hidden;
}

main {
    width: 100%;
}

.main-wrapper {
    display: flex;
    width: 100%;

    padding: 15px 0;
}

.header-container {

    padding: 10px 120px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.header {
    background-color: #000;

    color: #fafafa;
}

.brand {
    letter-spacing: 1.2px;
}

.navbar-menu {
    display: flex;
    gap: 20px;
}

.navbar-item {
    font-size: 14px;
    cursor: pointer;
    opacity: 80%;

    transition: 0.2s linear;
}

.navbar-item:hover {
    color: #111026;
}

main {
    padding: 0px 120px;

    height: 100%;
}

.main-body {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.chat {
    padding-top: 30px;
    width: 60%;
    height: 100%;
}

.info {
    padding-top: 30px;
}

.second-row {
    padding-top: 30px;
    width: 100%;
}

.two-gis-map {
    width: 300px; height: 200px;
}

.two-gis-map div {
    border-radius: 20px;
}


